<div class="ui container">
  <div class="ui center aligned basic segment" *ngFor="let profile of $profile | async">

    <div class="ui centered link cards">
      <div class="card">
        <div class="image">
          <img src="{{ profile.downloadUrl }}">
        </div>
        <div class="content">
          <div class="header">{{ profile.firstName }} {{ profile.lastName}}</div>
          <div class="meta">
            <a>{{ profile.jobTitle }}</a>
          </div>
          <div class="description">
            Current: {{ profile.jobTitle }} at {{ profile.company }}
          </div>
        </div>
        <div class="extra content">
          <span class="left floated">
            Slaying bugs since: {{ profile.startYear }}
          </span>
        </div>
      </div>
    </div>

    <div class="ui horizontal divider">
      <h1 id="aboutMe">About Me</h1>
    </div>

    <div class="ui segment">
      <p>{{ profile.aboutMe }}</p>
    </div>
  </div>
</div>
