<div class="ui menu">
  <a class="ui item" [href]="resumeDownloadLink">
    <div class="ui icon" data-tooltip="Download CV" data-position="bottom left">
      <i class="download icon" style="color: #0073af"></i>
    </div>
  </a>

  <div class="right menu">
    <a class="ui item" [href]="linkedinLink">
      <div class="ui icon" data-tooltip="View LinkedIn Page" data-position="bottom center">
        <i class="linkedin in icon" style="color: #0073af"></i>
      </div>
    </a>

    <a class="ui item" [href]="githubLink">
      <div class="ui icon" data-tooltip="View GitHub Page" data-position="bottom center">
        <i class="github icon" style="color: black"></i>
      </div>
    </a>

    <a class="ui item" [href]="twitterlink" style="color: #01a7e5">
      <div class="ui icon" data-tooltip="View Twitter Page" data-position="left center">
        <i class="twitter icon"></i>
      </div>
    </a>
  </div>
</div>
